{% extends "_global/index.html" %} 

{% block main %}
{% spaceless %}
       <div class="row">
            {% for museum in museums %}
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center museum">
             <div class="card-body">
                    <a href = "{{ BASE }}museum/{{ museum.museum_id }}" class=" museum-title">
                        {{museum.name|escape}}  
                    </a>
            
            
            </div>
            </div>
            {% endfor %}
        </div>
        
    <p> vreme: {{"now"|date('d. m. Y. H.i', timezone="Europe/Belgrade")}} </p>
    {% endspaceless %} 
    {% endblock %}