{% extends "_global/index.html" %}

{% block main %}
 <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">REZERVACIJA!</h4>
    <p>{{ message }}</p>
    <hr>

    <p class="mb-0">Klikni <a href="{{ BASE }}user/reservation"> Ovde </a> da se vratis nazad.</p>
    </div>
    {% endblock %}




    