/* * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body {
    margin: 0 auto;
    width: 900px;
}

.site-header {
    display: grid;
    grid-template-areas: "banner social" "banner search" "menu menu ";
}

.banners {
    grid-area: banner;


}

.banner > img {
    width: 180px;
    height: auto;
}

.social-icons {
    padding-top: 5px;
    grid-area: social;
    text-align: right;

}


.social-icons img {
    margin: 0px 10px;
    background-color: #f4b642;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.search-box {
    grid-area: search;
    text-align: right;
    padding-bottom: 45px;
}

#main-menu {
    grid-area: menu;
    margin: 20px 0px;
}

#main-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

#main-menu > ul > li {
    text-align: center;
    flex-grow: 1;
}

#main-menu > ul > li > a {
    text-decoration: none;
    display: block;
    padding: 10px 0px;
    color: black;
}

#main-menu > ul > li:hover {
    background: rgba(200, 200, 200, 0.3);
}

.museums {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;

}

.museum {
    width: 50%;
    text-align: center;
    padding: 50px 100px;
    border: 1px solid #ccc;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: #000;
}

.museum:hover {
    border: 1px solid #000;
    background: rgba(200, 200, 200, 0.6);

}

.site-footer {
    margin-top: 40px;
    text-align: center;

}

.bookmarks {
    position: fixed;
    display: block;
    top: 50px;
    right: 0px;
    border: 1px solid #000;
    background: #fefefe;

}
 */

 .banner > img {
    width: 180px;
    height: auto;
}

.social-icons {
    margin-bottom:10px;

}

.museum {
    padding: 30px 0px;
    margin-top: 15px;

   
}

.social-icons a i.fa{
    color:blue;
    font-size: 18pt;
    display: inline;
    margin: 5px;
}
.card{
    margin-top: 15px;
}
.reservation{
    width: 100%;
    color:blue;
}
#tabela{
   background-color: #f2f3f7;
	
}

.bookmark-card{
    margin: 10px 0px;

}

.width-100-percent{
    width: 100%;
}

.exhibition{
    margin-bottom: 10px;
}

#map{
	width: 900px;
	max-width: 100%;
	height: 500px;
}