{% extends "_global/index.html" %} 
{% block main %}

<p class="h2 text-muted">MUZEJI</p>

<ul class="list-group col-4">
        {% for museum in museums %}
    <li class= "list-group-item">
        <a href = "{{ BASE }}museum/{{ museum.museum_id }}">
            {{museum.name|escape}}
        </a>
        {% endfor %}
    </li>
    
    </ul>

    {% endblock %}