{% extends "_global./index.html" %}

{% block main %}
{% spaceless %}
   
<h1>{{museum.name|escape}}</h1>
    <p>Spisak izlozbi u ovom muzeju: </p> 
    <ul>
     {% for exhibition in exhibitionInMuseum %}

     <li>
     <a href ="{{ BASE }}exhibition/{{exhibition.exhibition_id}}">
              {{exhibition.name|escape}}<br>

     </a>
     
     {% endfor %}
    </ul>
    

    
{% endspaceless %}
{% endblock %}