<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sajt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
        <header>
            <div class="row">
                    <div class="col col-sm">
                            <a href="{{ BASE }}" class="banner">
                                <img src="{{ BASE }}assets/img/banner-1.jpg" alt="Banner1">
                            </a>
                        </div>
                    <div class="col col-sm ">
                        <div class=" social-icons text-right">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="search-box">
                                <form method="post" action="{{BASE}}search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="date" name="q" class="form-control" placeholder="kljucne reci pretrage">
                                    <button type="submit" class="btn btn-primary input-group-append ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    </div>
                                </div>
                                </form>
                            </div>
                    </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <div class="navbar-nav">
                          <a class=" nav-item nav-link " href="{{ BASE }}"><i class="fa fa-home"></i>Pocetna</a>
                          <a class=" nav-item nav-link " href="{{ BASE }}exhibitions/">Spisak izlozbi</a>
                          <a class=" nav-item nav-link " href="{{ BASE }}museums/">Spisak muzeja</a>
                          <a class=" nav-item nav-link " href="{{ BASE }}contact/store_locator/">Kontakt</a>
                        </div>
                    </div>
                </nav>
        </header>
        <main>

            {% block main %}
            {% endblock %}

        </main>
        <div class="card bookmark-card col-4" >
         <div class = "bookmarks card-body">
             Loading bookmarks...
        </div>
        </div>
        
        
        
        <footer class="site-footer text-center">
            &copy; "2018 Museums for all"<a href="#">LM&amp;LM</a>
        </footer>
        </div>

   <script>const BASE = '{{ BASE }}';</script>
   <script src="{{ BASE }}assets/js/bookmark.js"></script>
   <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>     
    </body>
</html>