{% extends "AdminDashboard/index.html" %}

{% block main %}
    <div>
        <div class = "options">
                <a href = "{{ BASE }}admin/museums"> Prikaz svih muzeja </a>
          
        </div>    
    
     <form class = "museum-form" method="POST">
    <div>
        <label for="name">Ime: </label>
        <input type="text"  id="name" name="name" required pattern=".*[^\s]{3,}.*">
    </div>
   
     <button type="submit" class="btn btn-success">
        Dodaj muzej
     </button>


    </form>
</div>

{% endblock %}