{% extends "AdminDashboard/index.html" %}

{% block main %}
    <div>
        <div class = "options">
                <a href = "{{ BASE }}admin/museums"> Prikaz svih muzeja </a>
            <a href = "{{ BASE }}admin/museums/add"> Dodaj novi muzej  </a>
        </div>    
    
     <form class = "museum-form" method="POST">
    <div>
        <label for="name">Ime: </label>
        <input type="text"  id="name" name="name" requierd value="{{ museum.name|escape }}"  pattern=".*[^\s]{3,}.*">
    </div>
     <button type="submit" class="btn btn-success" >
         izmena muzeja
     </button>


    </form>
</div>

{% endblock %}