{% extends "AdminDashboard/index.html" %}

{% block main %}
    <div>
        <div class = "options">
            <a href = "{{ BASE }}admin/museums/add"> Dodaj novi muzej</a>
        </div>    
    
     <div class = "museums">
        <ul>
            {% for museum in museums %}
            <li>
                <a href="{{ BASE }}admin/museums/edit/{{ museum.museum_id }}">
                    {{museum.name|escape}}
                </a>
            {% endfor %}
        </ul>

     </div>
    
    </div>

{% endblock %}