{% extends "AdminDashboard/index.html" %}

{% block main %}
    <div>
        <div class = "options">
                <a href = "{{ BASE }}admin/museums"> Prikaz svih izlozbi </a>
        </div>
      
        <p>{{ message|escape}}</p>

</div>

{% endblock %}